body {
    height: 1000px;
    background-color: #000000;
    background-image: url("../images/backgrounds/ep_naturalblack/ep_naturalblack.png");
    overflow: auto;
}

.logo{
  max-height: 250px;
  max-width: 100%;
  margin-left: 20px;
  margin-top: -10px;
  padding: 20px;
}

@media (max-width: 1300px) {
  .logo {
    display: none;
  }
}

.select-buttons{
  margin-left: -5px;
}

a{
  color: red;
}
h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
    text-align: center;
}

p {
    color: red;
}

p1 {
    text-align: center;
}

dt{
  color: white;
  text-align: center;
  font-size: 32pt;
}

dd{
  color: white;
  text-align: center;
  font-size: 16pt;
}

.bandBio{
  color: white;
  text-align: center;
  font-size: 16pt;
  animation: fadeInDown .3s;
  -webkit-animation: fadeInDown .3s; /* Safari 4.0 - 8.0 */
}

.socialMediaLinks{
  text-align: center;
  font-size: 32pt;
}

.jumbotron-fluid{
	background-color: #000000; /* black */
	background-image: linear-gradient(#000000, #171D25);
  display: flex;
  padding: 4px;
}

.btn-primary{
	height: 50px;
	min-width: 15%;
	background-color: #880E0E;
	border: black;
  margin-right: 4px;
  margin-bottom: 4px;
}

.btn-primary:hover{
	background-color: #250202;
}

.btn-primary:focus {
	background-color: black;
}

.homeCont{
  display: flex;
  flex-direction: row;

}

.news{
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.card{
  max-width: 18rem;
  margin-left: 40px;
  animation: flipInY .6s;
  -webkit-animation: flipInY .6s; /* Safari 4.0 - 8.0 */
}

.slide{
  max-width: 100%;
  height: auto;
}

.pictures{
  max-width: 600px;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s; /* Safari 4.0 - 8.0 */
}

.banner{
  max-width: 100%;
}

.carousel img {
     width: 100%;
     height: auto;
}

.musicPage{
  /*animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s; /* Safari 4.0 - 8.0 */
}

.youtubeEmbed{
    text-align: center;
}

.youtubeEmbed iframe {
  width: 560px;
  height: 315px;
  padding-left: 14px;
}

@media (max-width: 600px) {
  .youtubeEmbed iframe {
    width: 392px;
    height: 220px;
  }
}

@media (max-width: 400px) {
  .youtubeEmbed iframe {
    width: 280px;
    height: 157px;
  }
}

.showSearch{
  margin-left: 45%;
}

.showsPage{
  animation: slideInRight .4s;
  -webkit-animation: slideInRight .4s; /* Safari 4.0 - 8.0 */
}

.aboutPage{
  animation: fadeInUp .3s;
  -webkit-animation: fadeInUp .3s; /* Safari 4.0 - 8.0 */
}

.contactPage{
  animation: zoomIn .3s;
  -webkit-animation: zoomIn .3s; /* Safari 4.0 - 8.0 */
}

.emailStuff{

}

.socialMedia{
  position: relative;
  top: 50px;
}

.emailNow{
  margin-left: 46%;
}
